<div class="row g-3 mb-3">
  <div class="col-md-4">
    <a class="adm-card" href="{{ url_for('admin_mgmt.clubs') }}">
      <div class="adm-card-title">Клубы</div>
      <div class="adm-card-desc">Создание, таймзоны, активность</div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="adm-card" href="{{ url_for('admin_mgmt.memberships') }}">
      <div class="adm-card-title">Доступы к клубам</div>
      <div class="adm-card-desc">Собственники и админы по клубам</div>
    </a>
  </div>
  <div class="col-md-4">
    <a class="adm-card" href="{{ url_for('admin_mgmt.users') }}">
      <div class="adm-card-title">Пользователи</div>
      <div class="adm-card-desc">Учётки и системные роли</div>
    </a>
  </div>
</div>
